@import "bootstrap";

h1
{
	text-align: center;
}

nav
{
	background-color: deepskyblue;
	padding: 12px;

	.navlink{
		text-decoration: none;
		color: white;
		font-size: 20px;
	}
}

.user-card
{
	width: 18rem;
	margin-bottom: 10px;
}