<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <a href="http://localhost:3000/other_route">Alta ruta</a>
    </br>
    <a href="http://localhost:3000/create_user?bla=Denis">Create user</a>
    </br>
    </br>
    <%= yield %>
  </body>
</html>
